.movie {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie_intro {
    width: 85%;
}

.movie_backdrop {
    width: 100%;
    height: 31.25rem;
    object-fit:cover;
    object-position: 0 35%;
}

.movie_detail {
    align-items: center;
    width: 80%;
    display: flex;
    position: relative;
    margin-top: -15.6rem;
    height: fit-content;
}

.movie_detailLeft {
    margin-right: 1.87rem;
}

.movie_poster {
    width:18.75rem;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.86) 0rem 1.37rem 2.5rem 0.3rem;
}

.movie_detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content:space-between ;
}

.movie_detailRightTop > div{
    text-shadow: 0rem 0rem 0.3rem #000000;
    margin-bottom: .5rem;
}

.movie_name {
    font-weight: 500;
    font-size: 2rem;
}

.movie_voteCount {
    margin-left: 1rem;
}

.movie_genres {
    display: flex;
    flex-wrap: wrap;
}

.movie_genre {
    padding: .5rem;
    border: 0.1rem solid white;
    border-radius: 1.25rem;
    margin: 0.25rem 0.5rem;
}

.movie_detailRightBottom {
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie_links {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1.25rem;
    padding: 0.6rem;
    gap: 0.6rem;
}

.movie_heading {
    font-size: 2.2rem;
}

.movie_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 1.25rem;
    cursor: pointer;
    width: 9.4rem;
    color: black;
    font-weight: bold;
    margin: 0 0.6rem;
}

.movie_homeButton {
    background-color:rgb(255, 0, 0);  
}

.movie_imdbButton {
    background-color:#f3ce13;
}

.movie_production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    gap: 0.6rem;
}

.movie_overview{
    margin: 0.6rem;
}

.movie_productionComapany {
    width: 12.5rem;
    height: 10rem;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 480px) {
    .movie{
        display: flex;
        flex-direction: column;
    }
    .movie_intro{
        display: none;
    }
    .movie_detail{
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem;
    }
    .movie_detailLeft,.movie_detailRight {
        margin-right: 0rem;
    }
    .movie_name{
        font-size: 1.37rem;
    }
    .movie_Button{
        width: 5.3rem;
    }
    .movie_links{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .movie_heading{
        font-size: 1.5rem;
    }
    .movie_productionComapany {
        width: 5rem;
        height: 5rem;
        margin: 0.5rem;
    }
    .movie_production{
        margin-bottom: 0.06rem;
    }
    .movie_overview {
        font-size: 1rem;
    }
}

@media screen and (min-width:481px) and (max-width: 768px){
    .movie_links{
        margin-top: 3.12rem;
    }
    .movie_detailRight{
        margin-left: -5rem;        
    }
    .movie_poster{
        width: 75%;
    }
    .movie_Button{
        width: 5rem;
    }
    .movie_name{
        font-size: 1.37rem;
    }
    .movie_overview{
        font-size: 0.87rem;
    }
    .movie_productionComapany{
        width: 6.25rem;
    }
    .movie_heading {
        font-size: 1.87rem;
    }
    
}