.movie_list{
    padding:3rem 3rem;
}

.list_title{
    text-align: center;
    font-size: 1.75rem;
    margin: 3rem 0 1rem 0;
}

.list_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


