.header{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,.headerRight{
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 1.25rem; 
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover{
    color: #f3ce13;
}

.header_icon{
    width: 5rem;
    cursor: pointer;
}

.user_avatar{
    font-size: 2rem;
}


@media screen and (max-width:480px) {
    .header{
        margin: 0 1rem;
    }
    a > span{
        margin: 0 0.5rem; 
        font-size: 0.75rem;
        cursor: pointer;
        color: white;
    }
    .header_icon{
        width: 3.1rem;
        cursor: pointer;
    }
}